/* universal selector */
*{
   /* color green*/
}
/* tag or element selector */
h1{
    text-align: center;
    color: red;
}

/* attribute selector */
a[title="google"]{
    letter-spacing: 20px;
}
/* id selector */
#idselector{
    text-indent: 40px;
}
/* class selector */
.classselector{
    color: brown;
    letter-spacing: 10px;
    word-spacing: 20px;
    line-height: 40px;
}
/* Descendant Selector */
div p {
    background-color: yellow;
}
/* Child Selector */
div>p {
    color: black;
}
span>p {
    color: green;
}
/* Pseudo Selector */
h1 a:hover {
    color: white;
    font-size: 50px;
    background-color: red;
}
h1:hover {
    color: red;
}

h2 a:link {
    color: green;
}
h2 a:hover{
    color: greenyellow;
}
h2 a:visited {
    color: brown;
}
h2 a:active {
    color: yellow;
}
/* Target Selector */
:target{
    color: red;
    border: 10px dotted black;
    line-height: 30px;
    letter-spacing: 20px;
}