/* universal selector */
*{
   /* color green*/
}
/* tag or element selector */
h1{
    text-align: center;
    color: red;
}

/* attribute selector */
a[title="google"]{
    letter-spacing: 20px;
}
/* id selector */
#idselector{
    text-indent: 40px;
}
/* class selector */
.classselector{
    color: brown;
    letter-spacing: 10px;
    word-spacing: 20px;
    line-height: 40px;
}
/* Descendant Selector */
div p {
    background-color: yellow;
}
/* Child Selector */
div>p {
    color: black;
}
span>p {
    color: green;
}
/* Pseudo Selector */
h1 a:hover {
    color: white;
    font-size: 50px;
    background-color: red;
}
h1:hover {
    color: red;
}

h2 a:link {
    color: green;
}
h2 a:hover{
    color: greenyellow;
}
h2 a:visited {
    color: brown;
}
h2 a:active {
    color: yellow;
}
/* Target Selector */
:target{
    color: red;
    border: 10px dotted 
    black;
    line-height: 30px;
    letter-spacing: 20px;
}

.parent_relative{
    width: 1200px;
    height: 500px;
    border: 2px solid yellow;
}
.relative{
    width: 400px;
    height: 200px;
    border: 2px solid brown;
    top: 10px
    left: 150px
}
.fixed{
    position: fixed;
    top: 50px;
    right: 100px;
}
/* border */
.borderone{
    border: 50px dotted red;
}
.bordertwo{
    border-top: 10px solid yellow;
    border-left: 10px solid yellow;
}
.borderthree{
    border-color: brown;
    /* border-style: solid; */
    /* T & R & B & L */
    /* border-style: dotted; */
    /* T/B & L/R */
    /* border-style: solid dotted double; */
    /* T & L&R & B */
    border-style: solid dotted double dashed;
    /* T & R & B & L */
}
.borderwidth{
    border-style: solid;
    border-width: 3px 30px;
}
.marginone{
    border: 1px solid green;
    margin: 10px 30px 40px 100px;

}
.margintwo{
    margin-top: 100px;

}
.padding{
    /* padding: 100px; */
    padding-top: 50px;
    border: 1px solid red;
}
/* Float */
.float_right img{
    width: 40%;
    float: right;
}

.clear{
    clear: both;
}

.float_left img{
    width: 40%;
    float: left;
}

/* Grid */
.gridOne div,.gridTwo div,.gridThree div,.gridFour div,.gridFive div,.gridSix div{
    padding: 20px;
    color: white;
    text-align: center;
}

.gridOne,.gridTwo,.gridThree,.gridFour,.gridFive,.gridSix{
    display: grid;
    grid-template-columns: auto auto auto;
}

.gridTwo{
    grid-column-gap: 40px;
}

.gridThree{
    grid-row-gap: 40px;
}

.gridFour{
    grid-gap: 40px;
}

.columnadd{
    grid-column-start: 1;
    grid-column-end: 3;
}

.rowadd{
    grid-row-start: 1;
    grid-row-end: 3;
}

/* Position */
.parent_absolute{
    width: 1200px;
    height: 500px;
    border: 2px solid red;
    position: relative;
}

.absolute{
    width: 400px;
    height: 200px;
    border: 2px solid green;
    position: absolute;
    top: 10px;
    left: 150px;
}

.parent_relative{
    width: 1200px;
    height: 500px;
    border: 2px solid blue;
}

.relative{
    width: 300px;
    height: 200px;
    border: 2px solid purple;
    position: relative;
    top: 10px;
    left: 150px;
}

.fixed{
    position: fixed;
    top: 50px;
    right: 100px;
}

/* Font */
.online{
    font-family: "Playwrite HR Lijeva", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

}
@font-face {
    font-family: "playwrite";
    src: url(Playwrite_CU/PlaywriteCU-VariableFont_wght.ttf);
}
.offline{
    font-family: "playwrite";
}